/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.text-icon .fl-module-content .storename li .address::before {
  content: "\ea7d";
  font-family: "Ultimate-Icons" !important;
  font-size: 1.3em;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  width: auto;
}
.custombanneralert {
  background-color: #000 !important;
}
span.fl-comments-popup-link {
  display: none !important;
}
.fl-page {
  width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1 {
  text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p {
  display: inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a {
  width: 250px;
  text-align: center;
}
div.gform_wrapper .gfield_time_ampm select {
  max-width: 8rem !important;
  width: calc(5rem + 20px) !important;
  -webkit-appearance: none;
  background-image: url("https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png");
  background-position: 91%;
  background-size: 8px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px;
}
.brandSlider .slick-track {
  display: flex;
  align-items: center;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
  max-width: 8rem !important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before {
  font-size: 18px;
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
footer .storename li .phone a span:before {
  font-size: 18px !important;
  margin-right: 14px;
}
footer .storename li .phone a span {
  font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #fff;
}
footer .storename {
  padding-left: 10px !important;
}
.below.hour_minute_colon {
  margin-top: 10px;
}
.gform_wrapper .top_label .gfield_label {
  line-height: 1 !important;
}
footer .fa-phone-alt {
  display: none;
}
.fl-module-content .storename li .address a {
  color: #b7702f;
}
.fl-module-content .storename li .address a:hover {
  color: #000;
}
.fl-module-content .fl-rich-text .message a:hover {
  color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li {
  padding: 10px 10px 10px 10px;
  list-style: none;
}
ul.store-opening-hrs {
  padding-left: 0px !important;
}
div.text,
div.number {
  display: inline-block;
}
ul.social-icons {
  text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}
footer .storename li .phone a:before {
  content: " ";
  display: none;
}
.footermenu li.menu-item a {
  font-size: 14px;
  line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before {
  font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button
  .uabb-creative-button-has-icon
  a.uabb-none-btn:hover
  i.ua-icon-arrow-down:before {
  font-size: 1em;
}
footer h3.fl-heading:hover a span,
ul.social-icons li a:hover i,
ul.storename li .phone a:hover span,
ul.storename li p.inline_address a:hover {
  color: #6e7070 !important;
}

ul.social-icons {
  text-align: center !important;
}
.storename li p.inline_address a {
  position: relative;
  padding-left: 15px;
}
.storename li p.inline_address a:before {
  font-size: 20px !important;
  content: "\f041";
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 6px;
}

.page-id-1553959 #breadcrumbs {
  display: none;
}
.page-id-1553959 #rmp_menu_trigger-1504963 {
  display: none;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #000000;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #e1e5e5 !important;
  color: #000 !important;
  border-radius: 0px !important;
  font-family: "Jost",sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: 1px solid #e1e5e5 !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #ffffff !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #e1e5e5 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #e1e5e5 !important;
  color: #000 !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Jost",sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #e1e5e5 !important;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fl-sidebar {
    display: block !important;
  }
  .headermenu .uabb-creative-menu .menu a {
    font-size: 16px !important;
  }
  footer h3.fl-heading {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .locationCol .fl-col-content {
    padding: 0px 20px !important;
  }
  .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
  .fl-page-nav-right.fl-page-header-fixed,
  .fl-page-header-fixed {
    display: none !important;
  }
  #responsive-menu-container div#responsive-menu-additional-content,
  #responsive-menu-container div#responsive-menu-search-box {
    padding: 5px 5%;
  }
  #responsive-menu-additional-content .storename li .phone a:before {
    margin-right: 5px !important;
  }
  div#financing .fl-row-content-wrap {
    min-height: 50vh;
  }
  .blog .fl-sidebar {
    display: block;
  }
}
@media (max-width: 992px) {
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0;
  }
  .fl-row-content-wrap {
    /* text-align: center; */
  }
  .fl-fade-in.fl-animated p,
  .uabb-gf-style .gform_wrapper .gform_footer {
    text-align: center !important;
  }
  .fl-page-header-logo {
    text-align: left;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 80%;
  }
  .footer-menu .fl-col-small {
    width: 25% !important;
    float: left;
    clear: none;
  }
  ul#menu-copyright-bar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright-sec-row .fl-col-small {
    width: 100%;
    text-align: center;
  }
  .copyright-sec-row
    .fl-col-small:first-child
    .fl-module-html
    .fl-module-content.fl-node-content {
    margin-top: 20px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
    font-size: 14px;
  }
  footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content {
    margin: 0px 10px;
  }
  footer .fl-icon-text {
    padding-left: 0px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap span {
    padding-right: 15px;
  }
  /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
  .d-block .fl-row-fixed-width .fl-col-group-equal-height {
    display: block;
  }
  .fl-builder-content .fl-button i.fl-button-icon-after {
    margin-left: -8px;
  }
  .w-100 {
    width: 100%;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
    float: none;
  }
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reversed .fl-col-group-responsive-reversed {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0 0 0;
  }
  button#responsive-menu-button {
    top: 60px;
  }
  .uabb-photo__gallery-filters li {
    display: block;
  }
  .gform_wrapper .gfield_time_hour i {
    margin-top: 0% !important;
  }
  .rc-anchor-normal .rc-anchor-pt {
    right: 32px !important;
  }
  .rc-anchor-normal {
    width: 300px !important;
  }
  footer .storename {
    padding-left: 0 !important;
  }
  /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-phone .fl-rich-text {
    justify-content: center !important;
  }
  .rmp-menu-item-link {
    text-transform: uppercase;
  }
  .headerBanner h1 {
    font-size: 36px !important;
    line-height: 45px !important;
  }
  .headerBanner h2,
  h2 {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  div#financing .fl-row-content-wrap {
    min-height: 85vh;
  }
  .storename li p.inline_address a:before {
    top: 0;
  }
  button#rmp_menu_trigger-1504963 {
    top: 130px;
  }
}
@media (max-width: 767px) {
  .footer-menu .fl-col-small {
    width: 100% !important;
  }

  .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
    max-width: 10rem !important;
    width: calc(4rem + 20px) !important;
  }
  div#financing .fl-row-content-wrap {
    min-height: 100vh;
  }
}

@media screen and (max-width: 700px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 50px;
  }
}

@media screen and (max-width: 630px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 70px;
  }
}

@media screen and (max-width: 600px) {
  ul#menu-copyright-bar-menu {
    flex-direction: column;
  }
  div.fl-module-photo-gallery .uabb-photo-gallery-item {
    width: 100%;
    height: 335px;
    margin-bottom: 20px;
  }
  .fl-builder-content div.our-services {
    width: 100% !important;
  }
  .fl-builder-content div.our-services .fl-col-content {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
}

@media screen and (max-width: 480px) {
  button#rmp_menu_trigger-1504963 {
    top: 130px;
  }
}

@media screen and (max-width: 410px) {
  button#responsive-menu-button.responsive-menu-accessible {
    width: 35px;
    height: 35px;
  }
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 11px;
  }
}
@media screen and (max-width: 378px) {
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 10px;
  }
}
@media screen and (max-width: 374px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 10px;
  }
  .fl-page-bar {
    display: none;
  }
}

@media (max-width: 768px) {
  .cmp-design-palette__search-input-container {
    padding: 0.7rem 1rem !important;
  }
}

.fl-node-48a5vohi1ebq .fl-page a.fl-button {
  padding: 5px !important;
}
